@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: miama;
  src: url('miamaFont/Miama.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! style rule for navbar section and media queries */

.header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  padding: 1.5rem 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .brand {
  color: #e6533c;
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}

nav ul {
  display: flex;
  gap: 2.8rem;
  border-radius: 46px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

#active {
  border-radius: 46px;
  background: #e6533c;
  padding: 4px 12px;
}

#hamburger__icon {
  display: none;
}

@media screen and (max-width: 576px) {
  #hamburger__icon {
    display: block;
  }

  .menu__container {
    display: none;
  }
}