@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: miama;
  src: url('miamaFont/Miama.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! style rule for navbar section and media queries */

.header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.4) 100%);
}

#header__container {
  padding: 2rem 10% 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .brand {
  color: #e6533c;
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}

nav ul {
  display: flex;
  gap: 2.8rem;
  border-radius: 46px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

#active {
  border-radius: 46px;
  background: #e6533c;
  padding: 4px 12px;
}

#hamburger__icon {
  display: none;
}

@media screen and (max-width: 576px) {
  #hamburger__icon {
    display: block;
  }

  .menu__container {
    display: none;
  }

  #header__container {
    padding: 1.5rem 5% 0;
  }
}

/* ! style rule for banner section */

#banner__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.banner__texts h1 {
  color: #fff;
  font-family: Inter;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 115%;
}

#miama__font {
  font-family: Miama;
  font-size: 8.4rem;
  font-weight: 400;
  line-height: 40%;
}

.banner__desc {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 1.5rem 0;
}

.banner__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.orange__btn {
  border-radius: 42px;
  background: #e6533c;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 40px;
  display: inline-block;
  cursor: pointer;
}

.black__btn {
  border-radius: 42px;
  background: inherit;
  border: 1px solid #fff;
  color: #fff;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 40px;
  display: inline-block;
  cursor: pointer;
}

.banner__image {
  position: relative;
}

.top__card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 16px 24px;
  width: 211px;
  position: absolute;
  top: 122px;
  right: -89px;
}

.top__card h1 {
  color: #fff;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}

.top__card p {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 1px;
  margin-top: 1rem;
}

.bottom__card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  width: 206px;
  padding: 26px 15px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 68px;
  left: -117px;
}

.bottom__card h2 {
  color: #fafaf9;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.bottom__card p {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 0.5rem;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  #banner__section {
    display: block;
  }

  .banner__texts h1 {
    font-size: 2.2rem;
  }

  #miama__font {
    font-size: 4.5rem;
  }

  .top__card {
    top: 71px;
    right: 15px;
  }

  .bottom__card {
    width: 255px;
    bottom: 370px;
    left: 9px;
  }

  .banner__image {
    margin-top: 2.8rem;
  }

  .banner__image img {
    width: 100%;
  }

  .bottom__card img {
    width: 25%;
  }

  .top__card h1 {
    font-size: 1.8rem;
  }

  .top__card p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .banner__desc {
    width: 274px;
  }
}

/* ! style rule for Change habit section and media query */

.change__habits {
  background: #000;
}

.container {
  padding: 2rem 10%;
}

.change__habits h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  line-height: 115%;
}

.heading__desc {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}

.habit__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.habit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.habit h2 {
  color: #fff;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 700;
}

.habit p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-align: center;
  font-family: Inter;
  max-width: 250px;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.habit img {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 576px) {
  .habit__container {
    display: block;
  }

  .habit {
    margin-bottom: 2.5rem;
  }

  .heading__desc {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}

/* ! style rule for run an extra mile section and media queries */

.run__extra {
  background: #000;
  padding: 2.5rem 10%;
}

.run__container {
  display: flex;
  align-items: center;
  display: flex;
  padding: 30px 32px 29px 54px;
  justify-content: space-between;
  align-items: center;
  gap: 165px;
  border-radius: 18px;
  background: #222;
}

.run__texts h1 {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

.run__texts p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  width: 443px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 1rem 0;
}

.run__btn {
  display: flex;
  width: 224px;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  background: #e6533c;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: none;
  cursor: pointer;
}

.image__container {
  width: 366px;
  border-radius: 18px;
}

.image__container img {
  border-radius: 18px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .run__container {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .run__extra {
    padding: 2.5rem 5%;
  }
  .run__texts h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .run__texts p {
    width: fit-content;
  }

  .run__btn {
    width: 100%;
  }

  .image__container {
    width: 400px;
  }
}

/* ! style rule for BMI Calculator section and media queries */

#bmi__calculator {
  background: #000;
  padding: 2.5rem 0;
}

.bmi__heading {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
}

.bmi__description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 0.5rem;
}

.bmi__container {
  background: #222;
  padding: 2.5rem 10%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 3.5rem;
}

.bmi__container h2 {
  color: #fff;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

table {
  margin-top: 3rem;
}

table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

table {
  width: 150%;
}

th {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0.5rem;
  text-align: start;
}

td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0.5rem;
}

#calDesc {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.3px;
  margin: 1rem 0;
}

input,
select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
}

option {
  color: rgba(255, 255, 255, .6);
  background: #000;
}

#calculator__btn {
  border-radius: 42px;
  background: #e6533c;
  padding: 16px 40px; color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; 
  border: none;
  cursor: pointer;
}

#input__field {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0;
}

#activity {
  grid-column: span 2;
}

@media screen  and (max-width: 576px) {
  .bmi__heading {
    font-size: 2rem;
    text-align: start;
    margin-left: 5%;
  }

  .bmi__description {
    width: 365px;
    margin-left: 5%;
    text-align: start;
  }

  .bmi__container {
    flex-direction: column;
    padding: 2.5rem 5%;
  }

  table {
    width: 90%;
  }
}